==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Rivag - Bediening van mobiele hijskranen, rups-hijskranen en torenkranen">
    <meta name="Keywords" content="Rivag, RIVAG, hijskranen, rups, rups-hijskranen, torenkranen, kraanmachinist, bediening, towercrane, towercranes">
    <link rel="shortcut icon" href={{ 'assets/img/logo.png' | theme }} type="image/x-icon">
    <link rel="stylesheet" href={{ [
        'assets/css/main.css'
    ] | theme }}>
    <title>Rivag</title>
</head>
<body>
    {% partial "header" %}
    {% page %}
    {% partial "footer" %}

    <script src={{ [
        'assets/js/jquery.js',
        'assets/js/header.js',
        'assets/js/main.js'
        ] | theme }}></script>
        <script>lang_picker()</script>
    {% framework %}
    {% framework extras %}
</body>
</html>