:root {
    --light-blue: rgb(221, 237, 255);
    --dark-blue: rgb(0, 51, 102);
}

body {
    background-color: var(--light-blue);
}

header {
  background-color: var(--dark-blue);
  text-align: center; 
  top: 0;
  width: 100%;
  height: 10vh;
}

header h1 {
  color: var(--light-blue);
  font-size: 32px;
  margin: 0;
  text-decoration: none;
}

nav ul, nav ul a {
  color: var(--light-blue);
  list-style: none; 
  padding: 0;
  margin: 10px 0 0 0; 
  display: flex;
  justify-content: center; 
  gap: 4%; 
}

nav li {
  color: var(--light-blue);
  font-size: 12px;
  cursor: pointer;
}