:root {
    --white: #ffffff;
    --black: #000000;

    --lighter-blue:#e7f2ff;
    --light-blue: #a5cfff;
    --lighty-blue: #87a5c8;
    --blue: #6994c5;
    --mid-blue:#33669993;
    --dark-blue: #003366;

}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to bottom right, #b1ceef, #f6faff);
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    margin: 0;
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: var(--dark-blue);
    box-shadow: 0 0.5vw 0.5vw var(--mid-blue);
    text-align: center;
    top: 0;
    width: 100%;
    padding-bottom: 0.5%;
    margin-bottom: 6%;
}

header h1 {
    color: var(--blue);
    font-size: 54px;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav ul {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    list-style: none;
    margin-top: -0%;
    margin-bottom: 1%;
    padding: 0;
    gap: 4%;
}

nav li {
    color: var(--light-blue);
    font-size: 18px;
}

form {
    margin-top: 10%;
}

main {
    flex: 1; 
}

.welkomContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;           
  color: var(--white);
  gap: 3rem;
  padding-bottom: 5%;
}

.welkomContainer img { 
  width: 25%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.18);
} 

.welkom-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  text-align: left;         
  margin-bottom: 1%;
  max-width: 50%;
}

#welkom {
  font-size: 60px;           
  margin: 0;
  color: var(--mid-blue);
}

.welkom-text p {  
  font-size: 15px;  
  padding: 1%;
  padding-top: 3%;
  padding-bottom: 3%;
  max-width: 45ch;
  margin: 0;  
  color: var(--mid-blue);
  text-shadow: 1px 1px 2px #7e92cc69;
}


.welkom-text h2 {  
  font-size: 16px;  
  margin: 0;
  margin-left: 1%;
  color: var(--lighty-blue);
  font-weight: bold;
}

#bedieningen {
  margin: 0;
  list-style: square;
  color: var(--lighty-blue);
  text-shadow: 1px 1px 2px #829be469;
  width: 100%;
  padding: 2%;
}

#bedieningen li {
  margin-left: 2%;
}

footer {
    background-color: var(--dark-blue);
    box-shadow: 0 0.5vw 0.5vw var(--mid-blue);
    color: var(--white);
    text-align: center;
    align-items: baseline;
    bottom: 0;
    width: 100%;
    height: 5vh;
    margin-top: 5%;
    padding-top: 0.5%;
}

footer a {
  color: var(--white);
}

.personeel{
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 0.5%;
  text-align: center;
}

