:root {
    --white: #fefefefe;
    --black: #0c0c0c;

    --light-blue: #dbecff;
    --not-light-blue: hsl(212, 50%, 80%);
    --light-blue-t: hsla(212, 100%, 93%, 0.63);

    --blue: #336699;
    --mid-blue: hsl(210, 50%, 35%);

    --dark-blue: hsl(210, 100%, 20%);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    margin: 0;
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: var(--dark-blue);
    display: flex;              
    align-items: center;         
    justify-content: center;
    padding-bottom: 1%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.header-center {
  text-align: center;
  flex: 1;
}

header h1 {
    color: var(--not-light-blue);
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

header a {
    text-decoration: none;
    color: var(--light-blue-t);
}

nav ul {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 4%;
}

nav li {
    color: var();
    text-transform: lowercase;
    font-size: 1rem;
}

form {
    margin-top: 10%;
}

main {
    flex: 1; 
}

.welkomContainer {
  background-color: var(--mid-blue);
  /* box-shadow: var(--mid-blue) 0px 19px 38px, var(--mid-blue) 0px 15px 12px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;           
  gap: 3rem;
  padding-top: 5%;
  padding-bottom: 5%;
}

.welkomContainer img { 
  width: 90%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 1rem 2rem hsla(0, 0, 0);
} 

#welkom {
  font-size: 2.5rem;   
  margin: 0;
  color: var(--not-light-blue);
}

footer {
    background-color: var(--dark-blue);
    color: var(--white);
    text-align: center;
    align-items: baseline;
    bottom: 0;
    width: 100%;
    height: 5vh;
    margin-top: 5%;
    padding-top: 0.5%;
}

footer a {
  color: var(--white);
}

#langLink {
  position: absolute;
  right: 2%;
  top: 50%;  
  transform: translateY(-50%);          
}


/* .personeel{
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 0.5%;
  text-align: center;
} */

