<div class="personeel_container">
    <div>
        <h2 id="personeel">{{ 'personeel' |_ }}</h2>
        <section class="personeel">
            {{ 'personeel.informatie' |_ }}
        </section>
        <p>{{ 'personeel.info.informatie' |_ }}</p>
        <p>{{ 'personeel.info.taken' |_ }}<p>
        <ul>
            <li>{{ 'personeel.info.taak.1' |_ }}</li>
            <li>{{ 'personeel.info.taak.2' |_ }}</li>
            <li>{{ 'personeel.info.taak.3' |_ }}</li>
            <li>{{ 'personeel.info.taak.4' |_ }}</li>
            <li>{{ 'personeel.info.taak.5' |_ }}</li>
            <li>{{ 'personeel.info.taak.6' |_ }}</li>
            <li>{{ 'personeel.info.taak.7' |_ }}</li>
            <li>{{ 'personeel.info.taak.8' |_ }}</li>
            <li>{{ 'personeel.info.taak.9' |_ }}</li>
        </ul>
        <p>{{ 'personeel.info.rigger.informatie' |_ }}</p>
        <p>{{ 'personeel.info.eisen' |_ }}</p>
        <p>{{ 'personeel.info.kennis' |_ }}</p>
        <p>{{ 'personeel.info.persoonlijkekwaliteiten' |_ }}</p>
        <p>{{ 'personeel.info.fysiekekwaliteiten' |_ }}</p>
    </div>
    <div id="personeel_eisen">
        <section class="personeel">
            {{ 'personeel.eisen' |_ }}
        </section>
        <p><strong>{{ 'personeel.eisen.eisen' |_ }}</strong></p>
        <ul>
            <li>{{ 'personeel.eisen.eis.1' |_ }}</li>
            <li>{{ 'personeel.eisen.eis.2' |_ }}</li>
            <li>{{ 'personeel.eisen.eis.3' |_ }}</li>
            <li>{{ 'personeel.eisen.eis.4' |_ }}</li>
            <li>{{ 'personeel.eisen.eis.5' |_ }}</li>
            <li>{{ 'personeel.eisen.eis.6' |_ }}</li>
            <li>{{ 'personeel.eisen.eis.7' |_ }}</li>
            <li>{{ 'personeel.eisen.eis.8' |_ }}</li>
        </ul>
        <p>{{ 'personeel.eisen.info' |_ }}</p>
    </div>
    <div id="personeel_vacatures">
        <section class="personeel">
            {{ 'personeel.vacatures' |_ }}
        </section>
        <p><strong>{{ 'personeel.vacatures.gevraagd' |_ }}</strong></p>
        <p>{{ 'personeel.vacatures.zoeken' |_ }}</p>
        <ul>
            <li>{{ 'personeel.vacatures.bechikbaar.1' |_ }}</li>
            <li>{{ 'personeel.vacatures.bechikbaar.2' |_ }}</li>
            <li>{{ 'personeel.vacatures.bechikbaar.3' |_ }}</li>
            <li>{{ 'personeel.vacatures.bechikbaar.4' |_ }}</li>
        </ul>
        <p>{{ 'personeel.vacatures.regio' |_ }}</p>
        <ul>
            <li>{{ 'personeel.vacatures.regio.1' |_ }}</li>
            <li>{{ 'personeel.vacatures.regio.2' |_ }}</li>
            <li>{{ 'personeel.vacatures.regio.3' |_ }}</li>
            <li>{{ 'personeel.vacatures.regio.4' |_ }}</li>
        </ul>
    </div>
</div>