<main>
    <div class="welkomContainer">
        <div class="welkom-text">
            <h1 id="welkom">Welkom to <br> RIVAG!</h1>
            <p>Wij bedienen;</p>
            <ul id="bedieningen">
                <li>Mobiele hijskranen</li>
                <li>Mobiele rupshijskranen</li>
                <li>Torenkranen</li>
                <li>Portaalkranen</li>
                <li>ENZ!!</li>
            </ul>
        </div>
        <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"/>
    </div>
</main>
