<main>
    <div class="welkomContainer">
        <div class="welkom-text">
            <h1 id="welkom">Welkom naar RIVAG!</h1> 
            <p>
                RIVAG Hijskranenservice Eersel B.V. is een bedrijf dat bemiddelt tussen ervaren kraanmachinisten en bedrijven die specialisten zoeken voor hun opdrachten.
                <br>Jarenlange praktijkervaring garandeert service op een hoog nivo.In het verleden heeft RIVAG het plaatsen van ruim 15 windmolens op het eiland Nan'ao, China, met succes uitgevoerd.
                <br>Voor de opdracht die 10 weken in beslag nam werd een 200 ton Demag ingezet.De kennis binnen het bedrijf varieert van mobiele hijs- (20 tot 200 tonner) en rupshijskranen tot torenkranen.
                <br>RIVAG besteed veel aandacht aan communicatie en veiligheid.Wij vinden het belangrijk dat het personeel niet alleen de werkzaamheden uitvoert maar ook meedenkt met onze klanten.
            </p>
            <h2>Wij bedienen;</h2>
            <ul id="bedieningen">
                <li>Mobiele hijskranen</li>
                <li>Mobiele rupshijskranen</li>
                <li>Torenkranen</li>
                <li>Portaalkranen</li>
                <li>ENZ!!</li>
            </ul>
        </div>
        <img src={{ "assets/img/01.jpg" | theme }} />
    </div>
</main>